<ol>
    <li>
        Dive in by <a href='/docs/overview.html'>reading the overview</a>
    </li>

    <li>
        Still with us? Great!
        <ul>
            <li>Follow the <a href='/docs/install.html'>installation guide</a></li>
            <li>Try out the <a href='/docs/tutorials.html'>FLAME tutorial</a></li>
        </ul>
    </li>

    <li>Start modelling!</li>

</ol>


If you are using FLAME, we would love to <a href='/contact/'>hear from you</a>.
We appreciate any feedback (good or bad), bug reports, or even a quick "hello".
