FLAME is a <strong>flexible and generic agent-based modelling platform</strong> that can be used to
develop models and simulations for complex system applications in many areas such as economics, biology and social sciences, to name few.

It generates a complete agent-based application which can be compiled and
deployed on many computing systems ranging from <strong>laptops to
distributed high performance super computer environments</strong>. 


Here is an example of an agent-based simulation of mall employment behavior. 


<img src="/projects/img/animate_CAS_smaller.gif" name="Mall employment simulation" id="mallgif" width=300></a>
