FLAME is a <strong>flexible and generic agent-based modelling platform</strong> that can be used to
develop models and simulations for complex system applications in many areas such as economics, biology and social sciences, to name a few.

It generates a complete agent-based application that can be compiled and
deployed on many computing systems ranging from <strong>laptops to
distributed high performance super computing environments</strong>. 

<p></p>

Below is an example of an agent-based simulation of an artificial economy, showing agents located in different regions,
household agents sending job applications to firm agents (blue links), and the interactions at a shopping mall where firms post prices and sell products to the households.


<p></p>

<img src="/projects/img/animate_CAS_smaller.gif" name="Mall employment simulation" id="mallgif" width=650></a>
