---
layout: base
title: Publications

pub_list:

  - year: 2013
    pubs:
    
     - title:   "A Multi-Paradigm Modeling Framework to Simulate Dynamic Reciprocity in a Bioreactor"
       url:     http://www.plosone.org/article/info%3Adoi%2F10.1371%2Fjournal.pone.0059671
       authors: Himanshu Kaul, Zhanfeng Cui, Yiannis Ventikos
       in:      PLoS ONE 8(3), March 2013
       pdf:     http://www.plosone.org/article/info%3Adoi%2F10.1371%2Fjournal.pone.0059671
    
     - title:   "Large-scale Modelling of Economic Systems"
       url:     http://www.complex-systems.com/abstracts/v22_i02_a03.html
       authors: Mike Holcombe, Simon Coakley, Mariam Kiran, Shawn Chin, Chris Greenough, David Worth, Silvano Cincotti, M. Raberto, Andrea Teglio, , Christophe Deissenberg, Sander van der Hoog, Herbert Dawid, Simon Gemkow, Philipp Harting, Michael Neugart
       in:      Complex Systems
       pdf:     
     
     - title:   "Skin Stem Cell Hypotheses and Long Term Clone Survival - Explored Using Agent-based Modelling"
       url:     http://dx.doi.org/10.1038/srep01904
       authors: XinShan Li, A.K. Upadhyay, A.J. Bullock, T. Dicolandrea, J. Xu, R.L. Binder, M.K. Robinson, D.R. Finlay, K.J. Mills, C.C. Bascom, R.J. Isfort, J.W. Haycock, S. MacNeil, R.H. Smallwood
       in:      Scientific Reports (Nature), May 2013
       pdf:     http://www.nature.com/srep/2013/130528/srep01904/pdf/srep01904.pdf

  - year: 2012
    pubs:

     - title:   "FLAME-II : a redesign of the flexible large-scale agent-based modelling environment"
       url:     http://epubs.stfc.ac.uk/bitstream/8576/RAL-TR-2012-019.pdf
       authors: Shawn Chin, David Worth, Chris Greenough, Simon Coakley, Mike Holcombe, Marian Gheorghe
       in:      RAL Technical Reports, RAL-TR-2012-019, November 2012
       pdf:     http://epubs.stfc.ac.uk/bitstream/8576/RAL-TR-2012-019.pdf
    
     - title:   "FLAME tutorial examples : cellular automata - the game of life"
       url:     http://epubs.stfc.ac.uk/bitstream/8571/RAL-TR-2012-018.pdf
       authors: Shawn Chin, Chris Greenough, David Worth
       in:      RAL Technical Reports, RAL-TR-2012-018, November 2012
       pdf:     http://epubs.stfc.ac.uk/bitstream/8571/RAL-TR-2012-018.pdf
    
     - title:   "FLAME tutorial examples : a simple SIR infection model"
       url:     http://epubs.stfc.ac.uk/bitstream/8572/RAL-TR-2012-017.pdf
       authors: David Worth, Shawn Chin, Chris Greenough
       in:      RAL Technical Reports, RAL-TR-2012-017, November 2012
       pdf:     http://epubs.stfc.ac.uk/bitstream/8572/RAL-TR-2012-017.pdf
    
     - title:   The EURACE agent-based economic model - benchmarking, assessment and optimization 
       url:     http://epubs.cclrc.ac.uk/bitstream/7678/RAL-TR-2012-006.pdf
       authors: Shawn Chin, David Worth, Chris Greenough, Simon Coakley, Mike Holcombe, Mariam Kiran
       in:      RAL Technical Reports, RAL-TR-2012-006, April 2012
       pdf:     http://epubs.cclrc.ac.uk/bitstream/7678/RAL-TR-2012-006.pdf
    
     - title:   FLAME - an approach to the parallelisation of agent-based applications
       url:     http://epubs.cclrc.ac.uk/bitstream/8146/RAL-TR-2012-013.pdf
       authors: Shawn Chin, David Worth, Chris Greenough, Simon Coakley, Mike Holcombe, Mariam Kiran
       in:      RAL Technical Reports, RAL-TR-2012-013, August 2012
       pdf:     http://epubs.cclrc.ac.uk/bitstream/8146/RAL-TR-2012-013.pdf

     - title:   Exploitation of High Performance Computing in the FLAME Agent-Based Simulation Framework
       url:     http://www.flame.ac.uk/pubs/pdf/flame_hpcc12.pdf
       authors: Simon Coakley, Marian Gheorghe, Mike Holcombe, Shawn Chin, David Worth, Chris Greenough
       in:      Proceedings of the 14th International Conference on High Performance Computing and Communications
       pdf:     pdf/flame_hpcc12.pdf

     - title:   Modelling complex biological systems using an agent-based approach
       url:     http://pubs.rsc.org/en/content/articlelanding/2011/ib/c1ib00042j
       authors: Mike Holcombe, Salem Adra, Mesude Bicak, Shawn Chin, Simon Coakley, Alison I. Graham, Jeffrey Green, Chris Greenough, Duncan Jackson, Mariam Kiran, Sheila MacNeil, Afsaneh Maleki-Dizaji, Phil McMinn, Mark Pogson, Robert Poole, Eva Qwarnstrom, Francis Ratnieks, Matthew D. Rolfe, Rod Smallwood, Tao Sun and David Worth 
       in:      Integrative Biology
       pdf:     pdf/c1ib00042j.pdf

  - year: 2011
    pubs:
    
     - title:   Modelling sperm behaviour in a 3D environment
       url:     http://dl.acm.org/citation.cfm?id=2037531
       authors: Mark Burkitt, Dawn Walker, Daniela Romano and Alireza Fazeli
       in:      Proceedings of the 9th International Conference on Computational Methods in Systems Biology
       pdf:     pdf/p141-burkitt.pdf
    
     - title:   Energy Shocks and Macroeconomic Stabilization Policies in an Agent-Based Macro Model
       url:     http://www.springerlink.com/content/n544041661218xwm/
       authors: Sander van der Hoog and Christophe Deissenberg
       in:      Computational Methods in Economic Dynamics
       pdf:     pdf/Energy_Shocks_and_Macroeconomic_Stabilization.pdf
       
     - title:   A multiobjective optimisation approach for the dynamic inference and refinement of agent-based model specifications
       url:     http://ieeexplore.ieee.org/xpl/freeabs_all.jsp?arnumber=5949892
       authors: Salem Adra, Mariam Kiran, Phil McMinn, Neil Walkinshaw
       in:      2011 IEEE Congress on Evolutionary Computation (CEC)
       pdf:     pdf/05949892.pdf
       
     - title:   A Novel Hard-Soft Processor Affinity Scheduling for Multicore Architecture using Multiagents
       url:     http://www.eurojournals.com/EJSR_55_3_11.pdf
       authors: G. Muneeswari and K. L. Shunmuganathan
       in:      European Journal of Scientific Research
       pdf:     pdf/EJSR_55_3_11.pdf
       
     - title:   Debt Deleveraging and Business Cycles&#58; An Agent-Based Perspective
       url:     http://papers.ssrn.com/sol3/papers.cfm?abstract_id=1973855
       authors: Marco Raberto, Andrea Teglio, Silvano Cincotti
       in:      Economics Discussion
       pdf:     pdf/SSRN-id1973855.pdf
       
     - title:   The Eurace@Unibi Model&#58; An Agent-Based Macroeconomic Model for Economic Policy Analysis
       url:     http://www.wiwi.uni-bielefeld.de/fileadmin/vpl1/Publications/Agent-based_Modelling/eurace-unibi-model-2011-v1.pdf
       authors: Herbert Dawid, Simon Gemkow, Philipp Harting, Sander van der Hoog, Michael Neugart 
       in:      University of Bielefeld
       pdf:     pdf/eurace-unibi-model-2011-v1.pdf

  - year: 2010
    pubs:

     - title:   An Approach to the Parallelisation of Agent-Based Applications
       url:     http://ercim-news.ercim.eu/images/stories/EN81/EN81-web.pdf
       authors: Chris Greenough, Shawn Chin, David Worth, Simon Coakley, Mike Holcombe, Mariam Kiran
       in:      ERCIM News 2010 (81), pp 42-43
       pdf:     http://ercim-news.ercim.eu/images/stories/EN81/EN81-web.pdf
     
     - title:   Parallel Implementation of Large Scale Agent-based Models in Economics
       url:     http://epubs.cclrc.ac.uk/bitstream/7987/ADACE.pdf
       authors: Chris Greenough, Shawn Chin, David Worth, Simon Coakley, Mike Holcombe, Mariam Kiran
       in:      Presentation at Advances in Agent-Based Computational Economics (ADACE), Bielefeld, Germany, 05-07 Jun 2010
       pdf:     http://epubs.cclrc.ac.uk/bitstream/7987/ADACE.pdf

     - title:   "FLAME: simulating large populations of agents on parallel hardware architectures"
       url:     http://portal.acm.org/citation.cfm?id=1838517&CFID=27756238&CFTOKEN=42701648
       authors: Mariam Kiran, Paul Richmond, Mike Holcombe, Lee Shawn Chin, David Worth and Chris Greenough
       in:      Proceedings of the 9th International Conference on Autonomous Agents and Multiagent Systems
       pdf:     pdf/p1633-kiran.pdf

     - title:   High performance cellular level agent-based simulation with FLAME for the GPU
       url:     http://bib.oxfordjournals.org/content/11/3/334.short
       authors: Paul Richmond, Dawn Walker, Simon Coakley and Daniela Romano
       in:      Briefing in Bioinformatics
       pdf:     pdf/Brief Bioinform-2010-Richmond-334-47.pdf

     - title:   Development of a three dimensional multiscale computational model of the human epidermis
       url:     http://www.plosone.org/article/info%3Adoi%2F10.1371%2Fjournal.pone.0008511
       authors: Salem Adra, Tao Sun, Shelia MacNeil, Mike Holcombe and Rod Smallwood 
       in:      PLoS ONE
       pdf:     pdf/journal.pone.0008511.pdf

  - year: 2009
    pubs:
    
     - title:   A high performance agent based modelling framework on graphics card hardware with CUDA
       url:     http://portal.acm.org/citation.cfm?id=1558172
       authors: Paul Richmond, Simon Coakley and Daniela Romano 
       in:      Proceedings of The 8th International Conference on Autonomous Agents and Multiagent Systems
       pdf:     pdf/p1125-richmond.pdf 

     - title:   Cellular level agent based modelling on the graphics processing unit
       url:     http://www.computer.org/portal/web/csdl/doi/10.1109/HiBi.2009.12
       authors: Paul Richmond, Simon Coakley and Daniela Romano 
       in:      Proceedings of the 2009 International Workshop on High Performance Computational Systems Biology 
       pdf:     pdf/hibi09.pdf

     - title:   The virtual cell—a candidate co-ordinator for ‘middle-out’ modelling of biological systems
       url:     http://bib.oxfordjournals.org/content/10/4/450.short
       authors: Dawn Walker and Jennifer Southgate 
       in:      Briefings in Bioinformatics 
       pdf:     pdf/Brief Bioinform-2009-Walker-450-61.pdf

     - title:   Exploring hypotheses of the actions of TGF-β1 in epidermal wound healing using 3D computational multiscale model of the human epidermis
       url:     http://www.plosone.org/article/info%3Adoi%2F10.1371%2Fjournal.pone.0008515
       authors: Tao Sun, Salem Adra, Rod Smallwood, Mike Holcombe, Sheila MacNeil 
       in:      PLoS ONE
       pdf:     pdf/journal.pone.0008515.pdf

     - title:   On the Effects of Skill Upgrading in the Presence of Spatial Labor Market Frictions&#58; An Agent-Based Analysis of Spatial Policy Design
       url:     http://jasss.soc.surrey.ac.uk/12/4/5.html
       authors: Herbert Dawid, Simon Gemkow, Philipp Harting and Michael Neugart
       in:      Journal of Artificial Societies and Social Simulation
       pdf:     pdf/5.pdf
       
  - year: 2008
    pubs:
    
     - title:   "EURACE: A massively parallel agent-based model of the European economy"
       url:     http://www.sciencedirect.com/science/article/pii/S0096300308003019
       authors: Christophe Deissenberg, Sander van der Hoog and Herbert Dawid 
       in:      Applied Mathematics and Computation
       pdf:     pdf/1-s2.0-S0096300308003019-main.pdf

     - title:   Agent Based Modelling Helps in Understanding the Rules by Which Fibroblasts Support Keratinocyte Colony Formation
       url:     http://www.plosone.org/article/info%3Adoi%2F10.1371%2Fjournal.pone.0002129
       authors: Tao Sun, Phil McMinn, Mike Holcombe, Rod Smallwood and Sheila MacNeil 
       in:      PLoS ONE
       pdf:     pdf/journal.pone.0002129.pdf

     - title:   Validation and discovery from computational biology models
       url:     http://www.sciencedirect.com/science/article/pii/S0303264708000671
       authors: Mariam Kiran, Simon Coakley, Neil Walkinshaw, Phil McMinn, Mike Holcombe 
       in:      Biosystems
       pdf:     pdf/1-s2.0-S0303264708000671-main.pdf
       
     - title:   Agent Based GPU, a Real-time 3D Simulation and Interactive Visualisation Framework for Massive Agent Based Modelling on the GPU
       url:     http://citeseerx.ist.psu.edu/viewdoc/summary?doi=10.1.1.144.734
       authors: Paul Richmond , Daniela Romano
       in:      Proceedings International Workshop on Super Visualisation (IWSV08) 2008
       pdf:     pdf/10.1.1.144.734.pdf

     - title:   Production and Finance in EURACE
       url:     http://www.springerlink.com/content/l0211451391006g4/
       authors: Sander van der Hoog, Christophe Deissenberg, Herbert Dawid
       in:      Lecture Notes in Economics and Mathematical Systems

     - title:   The exploitation of parallel high performance systems in the FLAME agent-based simulation framework 
       url:     http://epubs.cclrc.ac.uk/bitstream/4435/FLAME.pdf
       authors: Chris Greenough, David Worth, Shawn Chin, Mike Holcombe, Simon Coakley
       in:      RAL Technical Reports, RAL-TR-2008-022
       pdf:     http://epubs.cclrc.ac.uk/bitstream/4435/FLAME.pdf

       
  - year: 2007
    pubs:
    
     - title:   An integrated systems biology approach to understanding the rules of keratinocyte colony formation
       url:     http://rsif.royalsocietypublishing.org/content/4/17/1077.short
       authors: Tao Sun, Phil McMinn, Simon Coakley, Mike Holcombe, Rod Smallwood and Sheila MacNeil 
       in:      J.R. Soc. Interface
       pdf:     pdf/Sun-1077-92.pdf

       
  - year: 2006
    pubs:
    
     - title:   From molecules to insect communities-How formal agent based computational modelling is uncovering new biological facts
       url:     http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.134.5130&rep=rep1&type=pdf
       authors: Simon Coakley, Rod Smallwood and Mike Holcombe 
       in:      Scientiae Mathematicae Japonicae
       pdf:     pdf/10.1.1.134.5130.pdf

     - title:   A General Framework for agent-based modelling of complex systems
       url:     http://www.cabdyn.ox.ac.uk/complexity_PDFs/ECCS06/Conference_Proceedings/PDF/p25.pdf
       authors: Mike Holcombe, Simon Coakley, Rod Smallwood 
       in:      Proceedings of the 2006 European Conference on Complex Systems
       pdf:     pdf/p25.pdf

     - title:   Using X-Machines as a formal basis for describing agents in agent-based modelling
       url:     http://www.flame.ac.uk/pubs/pdf/ADS005_Coakley.pdf
       authors: Simon Coakley, Rod Smallwood and Mike Holcombe 
       in:      Proceedings of the 2006 Agent-Directed Simulation Conference
       pdf:     pdf/ADS005_Coakley.pdf
---

<h1>Publications</h1>
<div class='large alt'>
The following are some of the publications based on the work undertaken using FLAME.
</div>
{% for pub_year in page.pub_list %}
<h2>{{ pub_year.year }}</h2>
    <ul>
    {% for pub in pub_year.pubs %}
        <li>
            {% if pub.pdf %}<a href='{{ pub.pdf }}'><img src="../media/blueprint/plugins/link-icons/icons/pdf.png" alt="pdf" width="16" height="16" /></a>{% endif %}
            {{ pub.authors }},
            {% if pub.url %}<a href='{{ pub.url }}'>{{ pub.title }}</a>{% else %}{{ pub.title }}{% endif %},
            <span class='quiet'>{{ pub.in }}</span>
        </li>
    {% endfor %}
    </ul>
{% endfor %}
